services:
  backend:
    container_name: backend
    build: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules

  db:
    container_name: db
    image: postgres:latest
    env_file:
      - ./backend/.env
    volumes:
      - pgdata:/var/lib/postgresql

volumes: 
    pgdata:
