services:
  backend:
    container_name: backend
    build: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    ports:
      - 3000:3000
    volumes:
      - ./backend:/app
      - /app/node_modules

  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - 5432:5432
      - 5555:5555
    env_file:
      - ./backend/.env
    volumes:
      - db-data:/var/lib/postgresql

volumes:
  db-data:
